*{
    margin: 0;
    font-family: inter;
}

.btn-primary{
    border-radius: 5px;
    background: #FF5959;
    color: #FFFFFF;
    border: none;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    
}
.header{
    background: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    text-align: center;
    padding: 160px 250px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #FFF;
    padding-bottom: 30px;
}
.banner-description{
    color: #e4dede;
    padding-bottom: 30px;
}
/* main */
main{
    max-width: 1100px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.donation{
    background: #FFF;
    border-radius: 10px;
    padding: 0 150px 0 150px;
    text-align: center;

}
.dt-tital{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
}
.dt-description{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 30px 0 50px 0;
}
.dt-amount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dt-amount{
    padding: 43px 12px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}
.dt-amount:hover{
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
input{
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    text-align: center;
    margin-top: 60px;
}
hr{
    margin: 9.5px 0 30px 0;
}
.donation-plan{
    text-align: center;
}
.plan-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.plan-title{
    color: #121212;
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 16px 0;
}
.plan1{
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.2);
    margin-right: 24px;
    padding: 64px 22px 54px 23px;
}
.plan2{
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.2);
    margin-right: 24px;
    padding: 64px 22px 54px 23px;
}
.plan3{
    border-radius: 5px;
    background: #FFF4D6;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.2);
    margin-right: 24px;
    padding: 64px 22px 54px 23px;
}
